[Unit]
Description=stoQ Service

[Service]
User=root
Group=root
LimitNOFILE=65536
ExecStart=/usr/local/bin/stoq run -P filedir -C filedir -R yara --plugin-opts filedir:source_dir=/tmp/stoq_inputs filedir:results_dir=/tmp/stoq_results

[Install]
WantedBy=multi-user.target
